<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="Enter your AWSAccessKey"/>
    <add key="AWSSecretAccessKey" value="Enter your AWSSecretAccessKey"/>
    <add key="ProductImagesBucketName" value="Enter your ProductImagesBucketName"/>
    <add key="DocsBucketName" value="Enter your DocsBucketName"/>
  </appSettings>
</configuration>